#div1 {
    padding: 20px;
    color: aqua;
}

body {
    background-color: rgb(3, 3, 3);
}

.div2 {
    padding-left: 70px;
    margin-bottom: 10px;
}

.emag {
    padding-top: 25%;
    margin-left: 25%;
}

.div3 a {
    width: 25%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    margin: 10px;
}

.div3 a.home {
    margin-left: 70px;
    background-color: rgba(42, 243, 243, 0.849);
    color: white;
}

.div3 a:hover {
    background-color: darkgray;
    color: aquamarine;
}

.pp {
    color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#pic {
    padding-left: 75%;
}

#img1 {
    margin: 10px;
    padding-top: 40px;
    margin-bottom: 5%;
}

#img2 {
    margin: 10px;
    padding-top: 40px;
    margin-bottom: 5%;
}

#img3 {
    margin: 10px;
    padding-top: 40px;
    margin-bottom: 5%;
}

#img4 {
    margin: 10px;
    padding-top: 40px;
    margin-bottom: 5%;
}

#top {
    text-decoration: solid;
    color: white;
    border: 1px solid rgb(10, 77, 71);
    position: relative;
    margin-bottom: 5px;
    float: right;
}

.lowerdiv {
    height: 65px;
    width: 100%;
    text-align: center;
    background-color: rgb(10, 77, 71);
    padding: 8px, 0px;
}